# SPDX-FileCopyrightText: 2026 maninblack
# SPDX-License-Identifier: Apache-2.0

policy_module(aos_kuksa_auth_compat, 1.1.0)

type aos_kuksa_auth_compat_t;
type aos_kuksa_auth_compat_exec_t;
init_daemon_domain(aos_kuksa_auth_compat_t, aos_kuksa_auth_compat_exec_t)

type aos_kuksa_verifier_prepare_t;
type aos_kuksa_verifier_prepare_exec_t;
init_daemon_domain(aos_kuksa_verifier_prepare_t, aos_kuksa_verifier_prepare_exec_t)

type aos_kuksa_provider_prepare_t;
type aos_kuksa_provider_prepare_exec_t;
init_daemon_domain(aos_kuksa_provider_prepare_t, aos_kuksa_provider_prepare_exec_t)

type aos_kuksa_auth_runtime_t;
files_runtime_file(aos_kuksa_auth_runtime_t)
type aos_kuksa_verifier_runtime_t;
files_runtime_file(aos_kuksa_verifier_runtime_t)
type aos_kuksa_pkcs11_store_t;
files_type(aos_kuksa_pkcs11_store_t)
type aos_kuksa_provider_store_t;
files_type(aos_kuksa_provider_store_t)
type aos_kuksa_provider_credential_t;
files_type(aos_kuksa_provider_credential_t)

allow aos_kuksa_auth_compat_t self:unix_stream_socket create_stream_socket_perms;
allow aos_kuksa_auth_compat_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(aos_kuksa_auth_compat_t)
corenet_tcp_sendrecv_generic_node(aos_kuksa_auth_compat_t)
allow aos_kuksa_auth_compat_t aos_kuksa_iam_port_t:tcp_socket name_connect;
manage_dirs_pattern(aos_kuksa_auth_compat_t, aos_kuksa_auth_runtime_t, aos_kuksa_auth_runtime_t)
manage_files_pattern(aos_kuksa_auth_compat_t, aos_kuksa_auth_runtime_t, aos_kuksa_auth_runtime_t)
manage_sock_files_pattern(aos_kuksa_auth_compat_t, aos_kuksa_auth_runtime_t, aos_kuksa_auth_runtime_t)

manage_dirs_pattern(aos_kuksa_verifier_prepare_t, aos_kuksa_verifier_runtime_t, aos_kuksa_verifier_runtime_t)
manage_files_pattern(aos_kuksa_verifier_prepare_t, aos_kuksa_verifier_runtime_t, aos_kuksa_verifier_runtime_t)

list_dirs_pattern(aos_kuksa_auth_compat_t, aos_kuksa_pkcs11_store_t, aos_kuksa_pkcs11_store_t)
read_files_pattern(aos_kuksa_auth_compat_t, aos_kuksa_pkcs11_store_t, aos_kuksa_pkcs11_store_t)
allow aos_kuksa_auth_compat_t aos_kuksa_pkcs11_store_t:file lock;
list_dirs_pattern(aos_kuksa_verifier_prepare_t, aos_kuksa_pkcs11_store_t, aos_kuksa_pkcs11_store_t)
read_files_pattern(aos_kuksa_verifier_prepare_t, aos_kuksa_pkcs11_store_t, aos_kuksa_pkcs11_store_t)
allow aos_kuksa_verifier_prepare_t aos_kuksa_pkcs11_store_t:file lock;
list_dirs_pattern(aos_kuksa_provider_prepare_t, aos_kuksa_pkcs11_store_t, aos_kuksa_pkcs11_store_t)
read_files_pattern(aos_kuksa_provider_prepare_t, aos_kuksa_pkcs11_store_t, aos_kuksa_pkcs11_store_t)
allow aos_kuksa_provider_prepare_t aos_kuksa_pkcs11_store_t:file lock;
manage_files_pattern(aos_kuksa_provider_prepare_t, aos_kuksa_provider_store_t, aos_kuksa_provider_credential_t)
type_transition aos_kuksa_provider_prepare_t aos_kuksa_provider_store_t:file aos_kuksa_provider_credential_t;

gen_require(`
    type initrc_runtime_t;
    type init_t;
    type aos_kuksa_iam_port_t;
')

allow aos_kuksa_auth_compat_t initrc_runtime_t:dir { getattr search };
allow aos_kuksa_auth_compat_t initrc_runtime_t:file { getattr open read };
allow aos_kuksa_verifier_prepare_t initrc_runtime_t:dir { getattr search };
allow aos_kuksa_verifier_prepare_t initrc_runtime_t:file { getattr open read };
allow aos_kuksa_provider_prepare_t initrc_runtime_t:dir { getattr search };
allow aos_kuksa_provider_prepare_t initrc_runtime_t:file { getattr open read };
allow init_t aos_kuksa_provider_store_t:dir { getattr open read search };
allow init_t aos_kuksa_provider_credential_t:file { getattr open read };

dev_read_urand(aos_kuksa_auth_compat_t)
files_read_etc_files(aos_kuksa_auth_compat_t)
init_read_runtime_files(aos_kuksa_auth_compat_t)
logging_send_syslog_msg(aos_kuksa_auth_compat_t)
miscfiles_read_generic_certs(aos_kuksa_auth_compat_t)

dev_read_urand(aos_kuksa_verifier_prepare_t)
files_read_etc_files(aos_kuksa_verifier_prepare_t)
init_read_runtime_files(aos_kuksa_verifier_prepare_t)
miscfiles_read_generic_certs(aos_kuksa_verifier_prepare_t)

dev_read_urand(aos_kuksa_provider_prepare_t)
files_read_etc_files(aos_kuksa_provider_prepare_t)
init_read_runtime_files(aos_kuksa_provider_prepare_t)
miscfiles_read_generic_certs(aos_kuksa_provider_prepare_t)
