# SPDX-FileCopyrightText: 2026 maninblack
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Isolated Aos vehicle data provider component store
DefaultDependencies=no
Requires=aos-vehicle-data-provider-store-prepare.service
After=aos-vehicle-data-provider-store-prepare.service
Conflicts=umount.target
Before=aos-vehicle-data-provider-bootstrap.service aos-sm.service umount.target

[Mount]
What=/run/aos-vehicle-data-provider-store/loop
Where=/var/aos/workdirs/sm/runtimes/systemd-slot-component
Type=ext4
Options=nodev,nosuid,noatime,errors=remount-ro,context=system_u:object_r:vehicle_data_provider_store_t:s0
TimeoutSec=30s
