# SPDX-FileCopyrightText: 2026 maninblack
# SPDX-License-Identifier: Apache-2.0

[Unit]
Description=Prepare the Aos vehicle data provider component store
RequiresMountsFor=/var/aos/workdirs
RequiresMountsFor=/var/aos/workdirs/sm/runtimes/systemd-slot-component
ConditionPathIsMountPoint=/var/aos/workdirs
ConditionPathIsMountPoint=/var/aos/workdirs/sm/runtimes/systemd-slot-component
Before=aos-sm.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/aos-vehicle-data-provider-store-check
RemainAfterExit=yes

[Install]
WantedBy=aos.target
